#goople{
	background-color: white;
	border: none;
	color:#708090;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: center;
	font-size: 50px;
	margin-top: 19px;
	font-family: 'Homemade Apple', cursive;
}


#search{
	display: center;
	text-align: center;
	padding: 10px 20px;
	margin-bottom: 22px;
}

.searchButton{
	height: 25px;
	width: 60px;
	background-color: #708090;
	color: white;
	border-radius: 10px;
	margin-bottom: -6px;
	font-family: 'Nunito', sans-serif;

}

#count{
	padding: 10px 41px;
	color: #708090;
	font-size: 18px;
}

#sentMail{
	padding: 3px 34px;
	color: #708090;
	font-size: 18px;
}

#trash{
	padding: 2px 20px;
	color: #708090;
	font-size: 18px;
}

#trashWord{
	margin-left:38px;
	margin-top:-5px;
}

#trashImg{
	float: left;
	margin-top: -8px;
	margin-left: 5px;
	height: 25px;
	width: 30px;
}

#sentMailImg{
	float: left;
	margin-top: -2px;
	margin-left: -16px;
	height: 25px;
	width: 30px;
}

#draftMailImg{
	float: left;
	margin-top: 2px;
	margin-left: 1px;
	height: 25px;
	width: 30px;
}

#draftMailWord{
	margin-left:34px;
	margin-top:2px;

}

#draftMail{
	padding: 2px 20px;
	color: #708090;
	font-size: 18px;
}

#friendsList {
	padding: 7px 20px;
	/*text-decoration: bold;*/
    width: 122px;
    height: 100px;
    overflow: scroll;
    border: 2px solid #708090;
    font-size: 15px;
    margin-top: 23px;
    margin-left: 20px;
    color: #708090;


}

#Contacts{
	display: inline-block;
	color:#708090;
	padding: 10px 0px;

}

 
#ComposeButton{
	background-color:#708090 ;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
}

#composeSection{
	padding: 10px 20px;
}

.input[type=text] {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	/*background-image: url ('searchicon.png');*/
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
}




.mahDates{
	text-align: right;
	padding-top: 5px;
	background-color: #708090;
	color: white;
	padding-right: 40px;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	
}


.mahSubjects{
	border-top: 1px solid white;
	background-color: #708090;
	color: white;
	padding-left: 40px;
	padding-top: 23px;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	
	

}

.mahNewSubjects{
	border-top: 1px solid white;
	background-color: #708090;
	color: white;
	padding-top: 23px;
	padding-left: 40px;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	
}

.mahNewDates{
	text-align: right;
	padding-top: 5px;
	background-color: #708090;
	color: white;
	padding-right: 40px;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	
}



.messages{
	display: block;
	border-bottom: 1px solid black;
	background-color: white;
	color: #708090;
	padding-left: 20x;
	text-align: center;
	
}

.newMessages{

	display: block;
	border-bottom: 1px solid black;
	background-color: white;
	color: #708090;
	padding-left: 20x;
	text-align: center;
	

}


.theSenders{
	padding-bottom: 10px;
	background-color: #708090;
	color: white;
	padding-left: 40px;
	font-family: 'Nunito', sans-serif;
	

}

.theNewSenders{
	padding-bottom: 10px;
	background-color: #708090;
	color: white;
	padding-left: 40px;
	font-family: 'Nunito', sans-serif;
	
}


#sideBar{
	float: left;
	width: 20%;
	height: 50%
}


#mailContainer{
	float: right;
	width: 80%;
	height: 100%;
	border-radius: 25px;
	
}

#bear{
	height: 19px;
	width: 22px;
	
}




#blakeBear:hover{
	display: block;
	background-color:#FFD700;
	color: white;

}

#leoLion:hover{
	display: block;
	background-color: #B22222;
	color: white;

}

#betsyBunny:hover{
	display: block;
	background-color: #FFC0CB;
	color: white;

}


#emilyElephant:hover{
	display: block;
	background-color:#6495ED;
	color: white;

}

#chadCat:hover{
	display: block;
	background-color: #C0ECB2;
	color: white;

}

#deanDog:hover{
	display: block;
	background-color: #625CC0;
	color: white;

}

#sallySnake:hover{
	display: block;
	background-color: #20B2AA;
	color: white;

}

#mimiMonkey:hover{
	display: block;
	background-color: #DB7093;
	color: white;
}

#georgeGiraffe:hover{
	display: block;
	background-color: #FFA500;
	color: white;

}

#bunny{
	height: 22px;
	width: 23px;
	
}

#cat{
	height: 19px;
	width: 22px;
	
}

#dog{
	height: 19px;
	width: 22px;
	
}



#lion{
	height: 19px;
	width: 22px;
	
}

#giraffe{
	height: 19px;
	width: 22px;
	
}

#monkey{
	height: 19px;
	width: 22px;
	
}

#elephant{
	height: 19px;
	width: 22px;
	
}


#snake{
	height: 25px;
	width: 22px;
	
}

#phone{
	height: 25px;
	width: 22px;
	margin-bottom: -6px;
}




#pandaGif{
	height: 30%;
	width: 30%;
	margin-top: 10px;

}


